<div id="<%= dom_id task %>" class = "card">
<div class = "card-body">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= User.find(task.leader_id).username%>
  </p>

  <p>
    <strong>Group:</strong>
    <% group = Group.find(task.group_id)%>
    <%= group.title %>
    <%= link_to "View this group", group %>
  </p>
</div>
</div>
