<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :creator_id, style: "display: block" %>
    <%= form.number_field :creator_id %>
  </div>

  <div>
    <%= form.label :mission_statement, style: "display: block" %>
    <%= form.text_area :mission_statement %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :private, style: "display: block" %>
    <%= form.check_box :private %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
