<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <div class = "card">
    <div class = "card-body"> 
      <strong class = "card-title"> <%= group.title %> </strong>
      <ul class = "card-body" >
        <li class = > Creator:  <%= User.find(group.creator_id).username %> </li>
        <li class = > <%= group.mission_statement %> </li>
      </ul>
      <p>
        <%= link_to "Show this group", group, class: "nav-link" %>
      </p>
    </div>
    </div>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
