<p style="color: green"><%= notice %></p>

<%= render @group %>

<ul class= "nav justify-content-center">
<li class="nav-item">
  <%= link_to "Edit this group", edit_group_path(@group), class: "nav-link" %> </li>
  <li class="nav-item"> <%= link_to "Back to groups", groups_path, class: "nav-link" %> </li>

  <li class="nav-item"> <%= button_to "Destroy this group", @group, method: :delete, class: "nav-link" %> </li>
</ul>
