<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= user.avatar_url %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= user.contact_info %>
  </p>

  <p>
    <strong>Inspirational quote:</strong>
    <%= user.inspirational_quote %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>


<strong> User's tasks </strong>
<% user_tasks = UserOnTask.all.where(:user_id => user.id) %>
<% user_tasks.each do |user_task|%>

<% task = Task.find(user_task.task_id)%>
<p>
<%=  render task, class:"card-text" %>
</p>
<%end%>
</div>
