<p style="color: green"><%= notice %></p>
<% id = params.fetch("id") %>
<% @user = User.find(id)%>
<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user.id) %>
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
