<p style="color: green"><%= notice %></p>

<%= render @user_on_task %>

<div>
  <%= link_to "Edit this user on task", edit_user_on_task_path(@user_on_task) %> |
  <%= link_to "Back to user on tasks", user_on_tasks_path %>

  <%= button_to "Destroy this user on task", @user_on_task, method: :delete %>
</div>
