<%= form_with(model: invitation) do |form| %>
  <% if invitation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.number_field :group_id %>
  </div>

  <div>
    <%= form.label :sender_id, style: "display: block" %>
    <%= form.number_field :sender_id %>
  </div>

  <div>
    <%= form.label :recipient_id, style: "display: block" %>
    <%= form.number_field :recipient_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
