<div id="<%= dom_id invitation %>">
  <p>
    <strong>Group:</strong>
    <%= invitation.group_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= invitation.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= invitation.recipient_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invitation.status %>
  </p>

</div>
